.input-wrapper {
  background-color: gray;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 16px;
}

.result {
  color: white;
  font-weight: bold;
  padding: 0 5px;
  flex: 1;
  font-size: 24px;
}
