nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  padding: 5px;

}

li:not(:last-child) {
  border-right: 1px solid #000;
}
